* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow: hidden;
  /* background-color: black; */
  color: white;
}
.main {
  height: 100vh;
  display: flex;
  padding: 0.5rem;
  background-color: black;
}
.sidebar {
  background-color: black;
  width: 300px;
  border-radius: 0.75rem; /*16px*/
  margin-right: 0.5rem;
}
.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 0.75rem;
  padding: 0 1.5rem 0 0.5rem;
  overflow: auto;
}
.music-player {
  display: flex;
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 80px;
}
.nav {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  height: 90px;
}
.nav-option {
  display: flex;
  background-color: #121212;
  line-height: 2.5rem;
  padding: 0.25rem 0.75rem;
  opacity: 0.7;
  cursor: pointer;
  /* align-items: center; */
}
.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  background-color: #121212;
  font-size: 1.25rem;
}
#home {
  position: relative;
  top: 0.4rem;
}
#search {
  position: relative;
  top: 0.5rem;
}
.nav-option a {
  background-color: #121212;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 1rem;
}
.library {
  background-color: #121212;
  border-radius: 0.75rem;
  margin-top: 0.5rem;
  height: 100%;
  padding: 0.5rem 0.5rem;
}
.option {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lib-option img {
  background-color: #121212;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  top: 0.5rem;
}
.icons {
  background-color: #121212;
  font-size: 1.25rem;
  display: flex;
}
.icons i {
  background-color: #121212;
  opacity: 0.7;
  margin-right: 1.25rem;
}
.icons i:hover {
  opacity: 1;
  border-radius: 50%;
}
.box {
  background-color: #242424;
  height: 6.5rem;
  border-radius: 0.75rem;
  margin: 0.5rem 0 1.5rem 0;
  padding: 0.75rem 1.25rem;
}
.box-p1 {
  font-size: 0.85rem;
  font-weight: 700;
}
.box-p2 {
  font-size: 0.65rem;
}
.badge {
  font-size: 0.75rem;
  border: none;
  border-radius: 1.5rem;
  background-color: white;
  color: black;
  font-weight: 700;
  height: 30px;
  width: fit-content;
  padding: 0.25rem 1rem;
}

.sticky-nav {
  background-color: #121212;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0 1rem 1.5rem;
  z-index: 10;
}
.sticky-nav-icons img {
  height: 1.25rem;
  width: 1.25 rem;
}
.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  margin-right: 0.5rem;
  font-weight: 700;
}
.dark-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}
.card {
  background-color: #181818;
  width: 138px;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
}
.card-img {
  width: 100%;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 2px #121212;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card-title {
  font-weight: 600;
  font-size: 0.85rem;
  padding-top: 0.5rem;
}
.card-info {
  font-size: 0.75rem;
  opacity: 0.6;
}
.head {
  padding-left: 1.5rem;
}
.card:hover {
  background-color: #242424;
}
.footer {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 95%;
  height: 50%;
  border-top: 0.8px solid white;
  opacity: 0.2;
}
.album {
  width: 25%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.player {
  width: 50%;
}
.controls {
  width: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.con-ico {
  padding-right: 0rem;
  opacity: 0.7;
}
.con-ico:hover {
  opacity: 1.2;
}
.icon-a {
  height: 2rem;
  width: 1.5rem;
  padding-right: 0.5rem;
}
.icon-b {
  height: 1.15rem;
  width: 1.15rem;
  /* padding-left: 0.5rem; */
  padding-right: 0.75rem;
}
.icon-c {
  height: 0.85rem;
  width: 0.85rem;
  padding-right: 0.75rem;
}
.icon-d {
  height: 2rem;
  width: 1.65rem;
  /* padding-left: 0.25rem; */
  padding-right: 0.25rem;
}

.music-player {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-control-icons {
  height: 0.9rem;
  margin-right: 1.5rem;
  opacity: 0.7;
  padding-top: 0.5rem;
  transition: 0.5s;
}
.player-control-icons:hover {
  opacity: 1;
}
.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  appearance: none;
  background-color: transparent;
  width: 65%;
}
.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
.time {
  font-size: 0.6rem;
  margin-top: 0.45rem;
  opacity: 0.7;
}
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #1db954;
  margin-top: -5px;
}
.album-cover {
  border-radius: 0.2rem;
  margin: 0 0.75rem 0 0.25rem;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.song-name {
  font-size: 0.7rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
  cursor: pointer;
}
.writer {
  font-size: 0.55rem;
  opacity: 0.7;
  cursor: pointer;
}
.writer:hover {
  opacity: 1;
}
.album-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  margin-left: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  opacity: 0.6;
}
.two {
  padding-left: 0.6rem;
  height: 1.55rem;
  width: 1.35rem;
  opacity: 0.6;
}
.ico:hover {
  opacity: 1;
}
.writer:hover,
.song-name:hover,
h2:hover {
  text-decoration: underline;
}
.vol {
  width: 25%;
  appearance: none;
  background-color: transparent;
  padding-right: 1.5rem;
  padding-left: 0.5;
}
.vol::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.25rem;
}
.vol::-webkit-slider-thumb {
  appearance: none;
  /* background-color: #1db954;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    margin-top: -3px;*/
}
