* {
  margin: 0;
  padding: 0;
  font-family: "GT America Standard", sans-serif;
  text-align: start;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 0;
  background-color: #000000;
  /* border: 2px solid green; */
  height: 87px;
  width: 100%;
}
.nav-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  margin: 19px 71px;
  padding: 0 30px 0 30px;
}
.nav-opt {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 380px;
}
.homebtn-icon {
  height: 35px;
  width: 130px;
  transition: 0.3s;
}
.homebtn-icon:hover {
  opacity: 0.7;
}
.helpbtn {
  color: #fff;
  border-left: 2px solid #fff;
  margin: 4px 0 0 13px;
  padding: 2px 0 4px 13px;
  font-size: 23px;
  width: 142px;
}
.helpbtn:hover {
  text-decoration: underline;
}

.btn:nth-of-type(1) {
  height: 50px;
  width: 230px;
  padding: 6px 22px;
  border: 1.1px solid #fff;
  margin-left: 1rem;
  border-radius: 8px;
  background-color: #191a1b;
}
.btn:nth-of-type(2) {
  height: 50px;
  width: 140px;
  padding: 6px 32px;
  border: 1.1px;
  margin-left: 15px;
  border-radius: 8px;
  background-color: #4c5fd5;
}
.btn:nth-of-type(1):hover {
  border: 1.1px solid #fff;
  background-color: #191a1b;
}
.btn:nth-of-type(2):hover {
  background-color: #fff;
  color: #000000;
}

.signin:hover {
  color: #000;
}
p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.search {
  background-color: #dadbf1;
  /* border: 2px solid green; */
  height: 395px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}
.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 1500px;
  padding: 80px 30px 115px;
}
.text {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 720px;
  font-size: 75px;
  letter-spacing: -2px;
}
.search-bar {
  height: 63px;
  width: 720px;
  border-radius: 4px;
  margin-top: 20px;
  border: 1.5px solid black;
}
.search-bar:hover {
  border: 1.5px solid #4c5fd5;
}
.search-bar::placeholder {
  font: 1.2rem/3 sans-serif;
  padding-left: 1rem;
}
.main-content {
  background-color: #fff;
  /* border: 2px solid green; */
  flex: 1;
  justify-content: center;
  height: 1000px;
  width: 100%;
}
.container {
  position: relative;
  top: 170px;
  left: 75px;
}
.col-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 180px;
  padding: 0 15px 0 0;
  margin: 0 0 48px;
}

.item-img {
  height: 90px;
  width: 90px;
  display: flex;
  position: relative;
  left: 0px;
  flex-direction: column;
  margin-right: 30px;
}
.anchor {
  font-size: 18px;

  position: relative;
  left: 120px;
  height: 100px;
  width: 370px;
}
.anchor > a {
  text-decoration: none;
  color: #4c5fd5;
}
.anchor:hover {
  text-decoration: underline #4c5fd5;
}
.footer {
  background-color: #000000;
  position: relative;
  bottom: 0;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-head {
  display: flex;
  flex-direction: column;
  padding: 48px 0 20px 100px;
  width: 258px;
}
.footer-title {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
.footer-opt {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.footer-opt:hover {
  text-decoration: underline;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer-icon{
  height: 67px;
  width: 50px;
  padding-bottom: 15px;
  padding-left: 5px;
}